/*COLORS*/
$color__primary: #134c91;
$color__primary--dark: #0b3871;
$color__trim: #e7af40;
$color__trim--dark: #ce982e;
$color__trim--light: #f0cd88;
$color__gray: #acbbc0;
$color__gray--dark: #7f898d;
$color__gray--light: #e9e7e8;
$color__red: #c34545;


/*FONTS*/
$base__font-size: 16px;
$base__line-height: 22px;
$font-increase: 6;

$font__body: CarroisGothic, Arial, sans-serif;
$font__medium: GothamMedium, Arial, sans-serif;
$font__condensed: GothamCondensed, Arial, sans-serif;

$container__width: 1208px;
$mobile__wide: 580px;
$tablet: 768px;
$desktop: 920px;
$desktop__wide: 1368px;

/*GRID*/
$susy: (
    columns: 12,
    container: $container__width,
    gutters: 1/4,
    global-box-sizing: border-box,
);

$susy-media: (
    mobile-wide: $mobile__wide,
    tablet: $tablet,
    desktop: $desktop,
    desktop-wide: $desktop__wide
);