footer {
    padding: 20px 0 60px;
    color: $color__gray;
    background: #142539;
    a {
        color: $color__gray;
        font: 20px/18px $font__condensed;
        text-transform: uppercase;
        &:hover {
            color: $color__trim--dark;
        }
    }
    h3 {
        margin-top: 0;
        color: #FFF;
    }
    hr {
        background: $color__gray;
    }
    .login-button {
        margin: 20px 0;
    }
    .search {
        width: 100%;
        margin: 0 0 20px;
        @include susy-media('tablet') {
            width: auto;
        }
        form {
            @include susy-media('tablet') {
                width: 88%;
            }
            @include susy-media('desktop') {
                width: 100%;
            }
        }
        input[type='search'] {
            width: 268px;
        }
    }// search
    .nav {
        li {
            margin: 0 0 10px;
            a {
                @include susy-media('tablet') {
                    display: inline-block;
                }
            }
        }
    }
}

.footer-top {
    @include clearfix;
    .moduletable {
        margin: 0 0 20px;
        text-align: center;
        @include susy-media('tablet') {
            margin: 0;
            text-align: left;
            @include span(3);
        }
    }
}

.footer-2 {
    text-align: center;
    @include susy-media('tablet') {
        @include span(6 last);
    }
}

.footer-left {
    @include susy-media('tablet') {
        @include span(8);
    }
}

.footer-right {
    @include susy-media('tablet') {
        @include span(4 last);
    }
    .moduletable {
        padding: 20px;
        background: #213349;
        text-align: center;
    }
    input, textarea {
        width: 100%;
    }
}

.footer-bottom {
    @include clearfix;
    .site-branding {
        display: block;
        width: 220px;
        margin: 0 auto 20px;
        @include susy-media('mobile-wide') {
            margin-bottom: 0;
            @include span(5);
        }
        @include susy-media('tablet') {
            @include span(6);
        }
        @include susy-media('desktop') {
            @include span(5);
        }
        @include susy-media('desktop-wide') {
            @include span(4);
        }
        svg {
            width: 220px;
            height: 94px;
        }
    }
    .custom {
        margin-bottom: 20px;
        @include susy-media('mobile-wide') {
            margin-bottom: 0;
            @include span(7 last)
        }  
        @include susy-media('tablet') {
            @include span(6 last)
        }        
        @include susy-media('desktop') {
            @include span(7 last)
        }   
        @include susy-media('desktop-wide') {
            @include span(8 last)
        }   
    }
}


