


input, textarea, select {
    display: inline-block;
    padding: 13px 10px;
    color: #222222;
    background: #FFF;
    border: 1px solid $color__gray;
    transition: all .3s ease;
    &:focus {
        color: #222 !important;
        border: 1px solid $color__primary;
    }
}

.form-group {
    margin: 0 0 16px;
}


.has-error {
    input, textarea, select {
        background: #c34545;
        color: #FFF;
    }
}

.system-message-container.overlay {
    position: fixed;
    width: 90%;
    max-height: 800px;
    top: 10%;
    left: 5%;
    z-index: index($elements, alert);
    @include susy-media('mobile-wide') {
        max-height: 400px;
    }
    @include susy-media('desktop') {
        top: 25%;
        width: 65%;
        left: 17.5%;
    }
    @include susy-media('desktop-wide') {
        width: 50%;
        left: 25%;
    }
}

.has-feedback {
    input, textarea, select {
        border: none;
        &:focus {
            border: none;
        }
    }
}

.alert {
    padding: 20px;
    text-align: center;
    &:before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: #000;
        opacity: .65;
    }
    h4 {
        font: 22px/20px $font__medium;
    }
    ul {
        text-align: left;
    }
}

.alert-info, .alert-warning {
    background: $color__trim--dark;
    .close {
        border-color: #222;
        &:hover {
            background: $color__trim;
        }
    }
}

.alert-danger, .alert-success {  
    color: #FFF;  
    .close {
        color: #FFF;
        border-color: #FFF;
    }
}

.alert-danger {
    background:  $color__red;
    .close:hover {
        background: #d51b1b;
    }
}

.alert-success {    
    background: $color__primary;
    .close:hover {
        background: $color__primary--dark;
    }
}

.close {
    float: right;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    font: 26px/16px $font__medium;
    transition: all .3s ease;
    color: #222;
    cursor: pointer;
    &:hover {
        border: 1px solid transparent;
    }
}


header, footer {
    input, textarea, select {
        background: $color__gray;
        border: none;
        &:focus {
            background: #FFF;
            border: none;
        }
    }
}

.controls {
    li {
        padding: 0;
        &:before {
            display: none;
        }
    }
    button {
        vertical-align: bottom;
    }
}



