


input:not([type='submit']) {
    padding: 16px 10px;
    background: $color__gray;
    transition: background .3s ease;
    &:focus {
        background: #FFF;
    }
}

.search {
    display: inline-block;
    form {
        @include susy-clearfix;
    }
    input[type="search"] {
        height: 48px;
    }
}

.search-button {
    float: right;
    width: 48px;
    height: 48px;
    fill: $color__gray;
    border: 1px solid $color__gray;
    transition: background .3s ease, border .3s ease, fill .3s ease;
    &:hover {
        background: $color__primary;
        border: 1px solid $color__primary;
        fill: #FFF;
    }
    svg {
        width: 26px;
        height: 26px;
    }
}

.test {
    background: linear-gradient(red, 30%, blue);
}