header {
    position: relative;
    height: 68px;
    background: $color__primary--dark;
    padding: 10px;
    @include susy-media('mobile-wide') {
        height: 100px;
    }
    @include susy-media('tablet') {
        height: 140px;
        padding: 8px 20px;
    }
    @include susy-media('desktop-wide') {
        padding: 8px 80px;
    }
    .search {
        position: absolute;
        top: 68px;
        right: 10px;
        opacity: 0;
        transition: transform .5s cubic-bezier(.27,-0.02,.59,.95), opacity .5s ease-in;
        transform: translateX(100%);
        z-index: index($elements, header-search);
        @include susy-media($mobile__wide) {
            position: relative;
            top: 0;
            right: 0;
            transform: translateX(0);
            opacity: 1;
        }
    }
    .search-button {
        background: $color__primary--dark;
    }
    .site-branding {
        display: inline-block;
        svg {
            width: 112px;
            height: 48px;
            @include susy-media($mobile__wide) {
                width: 180px;
                height: 80px;
            }
            @include susy-media($tablet) {
                width: 280px;
                height: 124px;
            }
        }
    }
}


%header-button {
    float: left;
    width: 48px;
    height: 48px;
    border: 1px solid $color__primary;
    color: $color__gray;
    font: 14px $font__condensed;
    text-transform: uppercase;
    transition: background .3s ease, color .3s ease;
    &:hover {
        background: $color__primary;
        color: #FFF;
    }
}

.header-right {
    display: inline-block;
    float: right;
    @include susy-media($mobile__wide) {
        margin: 15px 0;
    }
    @include susy-media($tablet) {
        margin: 37px 0;
    }
    > div {
        float: left;
        @include susy-media($mobile__wide) {
            margin: 0 0 0 20px;
        }
    }
    .custom {                
        color: $color__gray;
        button {
            @extend %header-button;
            div {
                font-size: 30px;
                line-height: 24px;
            }
            + button {
                margin: 0 0 0 2px;
            }
        }
    }
}

.search-toggle {
    @extend %header-button;
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 11px;
    fill: $color__gray;
    cursor: pointer;
    @include susy-media($mobile__wide) {
        display: none;
    }
    svg {
        width: 26px;
        height: 26px;
    }
}


input[type=checkbox]:checked ~ div.search {
    transform: translateX(0);
    opacity: 1;
}