.nav {
    li {
        margin: 0;
        a {
            display: block;
            position: relative;                        
        }
    }
}

ul.nav.menu {
    margin: 0;
    @include clearfix;
    li {
        padding: 0;
        &:before {
            display: none;
        }
    }
    ul {
        margin: 0;
        overflow: hidden;
    }
}

.nav-main {
    position: relative;   
    padding: 4px 10px;
    background: $color__primary;
    @include clearfix;
    @include susy-media('mobile-wide') {
        padding: 0 10px;
    }
    @include susy-media('tablet') {
        height: 48px;
        padding: 0 20px;
    }
    ul {
        text-align: center;
    }
    .nav.menu {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background: #142539;
        transform: scaleY(0);
        transform-origin: center top;
        transition: transform .4s ease;
        z-index: index($elements, main-nav);
        @include susy-media('mobile-wide') {
            position: relative;
            top: 0;
            background: none;
            transform: scaleY(1);
            z-index: 1;            
        }
        @include susy-media('desktop-wide') {
            width: 756px;
            margin: 0 auto;
        }
        > li {
            @include susy-media('mobile-wide') {
                display: inline-block;
                float: left;
            }           
           > a {
                padding: 10px 20px;
                font: 20px $font__condensed;
                transition: color .3s ease;
                text-transform: uppercase;
                @include susy-media('tablet') {
                    padding: 10px 22px;
                    font-size: 26px;
                }                 
                @include susy-media('desktop') {
                    padding: 10px 30px;
                } 
                @include susy-media('desktop-wide') {
                    padding: 10px 40px;
                }                 
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $color__trim;
                    z-index: -1;
                    transform: scaleY(0);
                    transition: all .3s cubic-bezier(.13,.5,.66,.94);
                }
                &:hover {
                    color: $color__trim;
                    &:after {
                        transform: scaleY(1);
                    }
                }                               
            }
            &.open {
                > a {
                    color: $color__trim;
                    &:after {
                        transform: scaleY(1);
                    }         
                }
                > ul {
                    max-height: 900px;
                    @include susy-media('mobile-wide') {
                        max-height: none;
                        visibility: visible;
                        opacity: 1;
                        transform: translateX(0);
                        a {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }                                
            }
            ul {
                max-height: 0px;  
                top: 100%;
                left: 0;
                background: $color__gray--dark;
                transition: max-height .7s cubic-bezier(.23,.47,.78,.71);
                li {
                    text-align: left;
                    &:first-of-type {
                        margin: 10px 0 0;            
                    }
                    &:last-of-type {
                        margin: 0 0 10px;
                    }
                    a {
                        padding: 10px 40px;
                    }
                }              
            }
            > ul {
                background: #213349;
                @include susy-media('mobile-wide') {
                    position: absolute;    
                    min-width: 260px;
                    max-width: 400px;                                 
                    max-height: none;
                    visibility: hidden;
                    top: 100%;
                    left: 0;  
                    opacity: 0; 
                    transform: translateX(50%);   
                    transform-origin: center top;
                    transition: transform .4s cubic-bezier(.41,.15,.7,.89), opacity .4s ease, visibility .4s ease;                                  
                }                
                .open {
                    > ul {
                        max-height: 300px;
                    }                    
                }
                a {
                    @include susy-media('mobile-wide') {
                        opacity: 0;
                        transform: translateY(100%);
                        transition: transform .6s .2s ease, color .3s ease, opacity .3s .2s ease;
                    }
                }
                .open {
                    > a {
                        color: $color__trim;
                    }                        
                }
            } // ul          
        } // > li        
    } //.nav.menu    

    li {
        @include susy-media('desktop') {
            float: none;
        }  
        &.active {
            background: #213349;
            @include susy-media('mobile-wide') {
                background: $color__primary--dark;
            }            
        }  
        a {
            font: 22px $font__condensed;
            padding: 10px 24px; 
            color: #FFF;            
            z-index: 1;
            &:hover {
                color: $color__trim--light;
            }
        } //a                    
    } //li
    .nav-button {
        float: right;
        @include susy-media('mobile-wide') {
            position: absolute;
            top: 6px;
            right: 10px;
        }
        @include susy-media('tablet') {
            top: 3px;
            right: 20px;
        }
        @include susy-media('desktop-wide') {
            right: 80px;
        }
    }// .nav-button  
} // .nav-main






.nav-button {
    float: right;
    @include susy-media('mobile-wide') {
        position: absolute;
        top: 6px;
        right: 10px;
    }
    @include susy-media('tablet') {
        top: 3px;
        right: 20px;
    }
    @include susy-media('desktop-wide') {
        right: 80px;
    }
}// .login-button




a.nav-toggle {
    display: none;
}

a.nav-toggle-reveal {
    display: inline-block;
    @include susy-media('mobile-wide') {
        display: none;
    }
    &:target {
        display: none;
        & + a.nav-toggle-hide {
            display: inline-block;
            @include susy-media('mobile-wide') {
                display: none;
            }
        }
        & ~ .nav.menu {
            transform: scaleY(1);
        }
    }
}

.icon-home {
    display: inline-block;
    margin: 10px 0;
    vertical-align: top;
    @include susy-media('mobile-wide') {
        float: left;
        margin: 6px 0;
    }    
    @include susy-media('tablet') {
        margin: 8px 40px 0 0;
    }   
    svg {
        width: 30px;
        height: 30px;
        fill: #FFF;
    }
}


html.no-csstransforms {

    .nav-main .nav.menu {
        > li {
            > ul {
                display: none;
            }
            &.open {
                > ul {
                    display: block;
                }
            }
        }
    }


}