.home {
    main {
        @include susy-media('tablet') {
            margin: 60px 0;
        }
    }
    .bkgd-blue {
        padding: 20px 0 40px;
        @include susy-media('tablet') {
            padding: 40px 0 60px;
        }
        section {
            margin: 0 0 20px;
            @include susy-media('tablet') {
                margin: 0;
                @include span(6);
                &:last-child {
                    @include span(6 last)
                }
            }
        }
        h2, h3 {
            text-align: center;
        }
    }
}


.intro {
    @include susy-media('tablet') {
        @include span(6);
    }
    @include susy-media('desktop') {
        @include span(7);
    }
}

.video-section {
    @include susy-media('tablet') {
        @include span(6 last);
    }    
    @include susy-media('desktop') {   
        @include span(5 last);
    }
}