$Placeholder-Selectors: ();


@mixin button($color, $extend: true) {
    @include button-static($extend);
    border: 1px solid $color;
    &:after {
        background: $color;
    }
    &:hover, &:active {
        color: $color;
    }
}


@mixin button-static($extend: true) {
	$button-selector: map-get($Placeholder-Selectors, 'button');
    @if $extend == true {
	    @if $button-selector == null {
		    $button-selector: unique-id();
		    $Placeholder-Selectors: map-merge($Placeholder-Selectors, ('button': $button-selector)) !global;
	  
		    @at-root %#{$button-selector} {
			    @include button-static;
		    }
	    }
	    @extend %#{$button-selector};  
        display: inline-block;
        padding: 6px 8px;
        font: 14px $font__medium;
        text-transform: uppercase;
        transition: color .3s ease;
        position: relative;
        z-index: 1;
        color: #FFF;
		@include susy-media('tablet') {
			padding: 10px 12px;
            font-size: 16px;
		}
	    &:after {
		    content: '';
		    position: absolute;
		    transition: transform 0.3s cubic-bezier(.13,.5,.66,.94);
		    width: 100%;
		    height: 100%;
		    bottom: 0;
		    left: 0;
		    z-index: -1;
            transform: scaleY(100%) scaleX(100%);
	    }
        &:visited, &:focus {
            color: #FFF;
        }
        &:hover, &:active {
            &:after {
                transform: scaleY(0) scaleX(.8);
            }
        }
    }
}











.button-yellow {
    @include button($color__trim);
}
