.search {
    display: inline-block;
    color: #222222;
    @include susy-clearfix;
    form {
        display: inline-block;
        @include susy-clearfix;
    }
    input[type="search"] {
        float: left;
        max-width: 76%;
        height: 48px;
    }
}

.search-button {
    float: left;
    width: 48px;
    height: 48px;
    fill: $color__gray;
    border: 1px solid $color__gray;
    transition: background .3s ease, border .3s ease, fill .3s ease;
    &:hover {
        background: $color__primary;
        border: 1px solid $color__primary;
        fill: #FFF;
    }
    svg {
        width: 26px;
        height: 26px;
    }
}