.nav-tabs {
	@include clearfix;
	margin: 0;
	border-bottom: 1px solid $color__gray;
	li {
		padding: 0;
		&:before {
			display: none;
		}
	}
	> li {
		display: block;
		float: left;
		> a {
			padding: 10px 24px; 
			border: 1px solid $color__gray;
			border-bottom: none;
		}
		&.active {
			> a {
				color: #FFF;
				background: $color__gray--dark;	
				border: 1px solid transparent;
				border-bottom: none;
			}
		}
		&:hover {
			> a {
				color: #FFF;
				background: $color__gray;
			}
		}		
	}
}

.tab-content {
	padding: 20px;
	> .tab-pane {
		display: none;
	}
	> .active {
		display: block;
	}
}