
.btn {
    display: inline-block;
    padding: 6px 8px;
    font: 14px $font__medium;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .3s ease;
    position: relative;
    z-index: 1;
    color: #FFF;
    @include susy-media('tablet') {
        padding: 10px 24px;
        font-size: 16px;
    }
    &:before {
        display: none;
    }
    &:after {
        content: '';
        position: absolute;
        transition: transform 0.3s cubic-bezier(.13,.5,.66,.94);
        width: 100%;
        height: 100%;
        bottom: 0;
        top: 0;
        left: 0;
        border: none;
        z-index: -1;
        transform: scaleY(100%) scaleX(100%);
    }
    &:visited, &:focus {
        color: #FFF;
    }
    &:hover, &:active {
        &:after {
            width: 100%;
            transform: scaleY(0) scaleX(.8);
        }
    }    
}






a.btn-primary, .btn-primary {
    @extend .btn;
    border: 1px solid $color__trim;
    &:after {
        background: $color__trim;
    }
    &:hover, &:active {
        color: $color__trim;           
    }    
}

a.btn-gray, .btn-gray {
    @extend .btn;
    border: 1px solid #acbbc0;
    &:after {
        background: #acbbc0;
    }
    &:hover, &:active {
        color: #acbbc0;           
    }    
}


a.btn-red, .btn-red {
    @extend .btn;
    border: 1px solid $color__red;
    &:after {
        background: $color__red;
    }
    &:hover, &:active {
        color: $color__red;           
    }       
}

.btn-group {
    display: inline-block;
    position: relative;    
}

.edit .btn-toolbar {
    margin: 0 0 20px;
}