body {
    font: #{$base__font-size}/#{$base__line-height}  $font__body;
    color: #222;
    background: #282828;
    -webkit-animation: bugfix infinite 1s; // To fix checkbox hack
    &.font-large {
        font-size: $base__font-size + $font-increase;
        line-height: $base__line-height + $font-increase;
    }
}

@-webkit-keyframes bugfix { 
  from {padding:0;} 
  to {padding:0;} 
}

ul, ol {
    margin: 20px 0;
}

ul, ol, li {
	list-style:inside none;
}

ul {
    li {
        position: relative;
        padding: 0 0 0 12px;
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            top: 8px;
            left: 0;    
            background: $color__trim;        
        }
    }
}

li {
    margin: 0 0 10px;
}

p {
    margin: 0 0 16px;
}

a {
    position: relative;
    color: #222;
    text-decoration: none;
    transition: all .3s ease;
}



hr {
    height: 1px;
    margin: 20px 0;
}

::selection {
  background: lighten($color__primary, 40%); 
}
::-moz-selection {
  background: lighten($color__primary, 40%); 
}

.wrapper {
    max-width: 1368px;
    margin: 0 auto;
    background: #f6f6f6;
    overflow: hidden;
}

img {
    max-width: 100%;
}

main {
    margin: 30px 0 30px;
    @include susy-media('tablet') {
        margin: 60px 0 60px;
    }
}

.container {
    padding: 0 10px;
    @include container;
    @include clearfix;
    @include susy-media('tablet') {
        padding: 0 20px;
    }
    @include susy-media('desktop-wide') {
        padding: 0;
    }
}

.text-center {
    text-align: center;
}

.bkgd-blue, .bkgd-blue-dark, .bkgd-blue-tone {
    color: #FFF;
    a {
        color: #FFF;
    }
}

.bkgd-blue {
    background: $color__primary;
    h1, h2 {
        color: $color__trim;
    }
}

.bkgd-blue-dark {
    background: #142539;
}

.bkgd-blue-tone {
    background: #213349;
}


.custom {
    @include clearfix;
}

%border-sides {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    &:before, &:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        height: 0;    
        top: 50%;    
    }
}

.border-sides-right {
    @extend %border-sides;
    padding: 0 10px 0 0;
    &:after {
        left: 100%;
        border-top: 1px solid $color__trim;
    }
}

.border-sides-left {
    @extend %border-sides;
    padding: 0 0 0 10px;
    &:after {
        right: 100%;
        border-top: 1px solid $color__trim;
    }
}

.pull-right {
    float: right;
}

.edit-icon {
    padding: 0;
    &:before {
        display: none;
    }
}

.site-branding {
    fill: #FFF;
}

.fade {
    opacity: 0; 
    transition: opacity .3s ease;
}

.fade.in {
    opacity: 1;
}


.icon-calendar {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml, %3Csvg%20version%3D%221.2%22%20baseProfile%3D%22tiny%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2055%2053.7%22%20overflow%3D%22scroll%22%3E%3Cpath%20fill%3D%22%237F898D%22%20d%3D%22M41.5%2015.8c1.2%200%202.2-1%202.2-2.2%200-.6-.3-1.2-.7-1.6V1.7c0-.8-.7-1.4-1.4-1.4-.8%200-1.5.7-1.5%201.4V12c-.4.4-.7%201-.7%201.6-.1%201.2.9%202.2%202.1%202.2zM18.2%208.4h18.1c.8%200%201.5-.6%201.5-1.5%200-.8-.6-1.5-1.5-1.5H18.2c-.8%200-1.5.6-1.5%201.5%200%20.8.7%201.5%201.5%201.5zm-5%207.4c1.2%200%202.2-1%202.2-2.2%200-.6-.3-1.2-.7-1.6V1.7c0-.8-.7-1.4-1.4-1.4-.8%200-1.5.7-1.5%201.4V12c-.4.4-.7%201-.7%201.6%200%201.2.9%202.2%202.1%202.2zM53.6%205.7h-7.2c-.6%200-1.2.5-1.2%201.2s.5%201.2%201.2%201.2h6v11.4H2.6V8.1h5.7c.6%200%201.2-.5%201.2-1.2S9%205.7%208.3%205.7H1.4C.8%205.7.2%206.2.2%206.9v45.3c0%20.6.5%201.2%201.2%201.2h52.2c.6%200%201.2-.5%201.2-1.2V6.9c0-.6-.5-1.2-1.2-1.2zM13.7%2051H2.6v-9.5h11.2l-.1%209.5zm0-10.7H2.6v-8.5h11.2l-.1%208.5zm0-9.7H2.6v-8.3h11.2l-.1%208.3zm13%2020.4H14.9v-9.5h11.8V51zm0-10.7H14.9v-8.5h11.8v8.5zm0-9.7H14.9v-8.3h11.8v8.3zM39.6%2051H27.8v-9.5h11.8V51zm0-10.7H27.8v-8.5h11.8v8.5zm0-9.7H27.8v-8.3h11.8v8.3zM52.4%2051H40.8l11.6-9.4V51zm0-10.7H40.8v-8.5h11.7l-.1%208.5zm0-9.7H40.8v-8.3h11.7l-.1%208.3z%22%2F%3E%3C%2Fsvg%3E') no-repeat;
    background-size: 24px 24px;
}