body {
    font: #{$base__font-size}/#{$base__line-height}  $font__body;
    color: #222;
    background: #282828;
    -webkit-animation: bugfix infinite 1s; // To fix checkbox hack
}

@-webkit-keyframes bugfix { 
  from {padding:0;} 
  to {padding:0;} 
}

ul, ol {
    margin: 20px 0;
}

ul, ol, li {
	list-style:inside none;
}

ul {
    li {
        position: relative;
        padding: 0 0 0 12px;
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            position: absolute;
            top: 8px;
            left: 0;    
            background: $color__trim;        
        }
    }
}

li {
    margin: 0 0 10px;
}

p {
    margin: 0 0 16px;
}

a {
    position: relative;
    color: #222;
    text-decoration: none;
    transition: all .3s ease;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 0;
        position: absolute;
        top: 100%;
        left: 0;
        border-top: 1px solid $color__trim--dark;
        transition: all .3s ease;
    }
    &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 100%;
        right: 0;
        border-top: 1px solid $color__primary--dark;
        transition: all .3s ease;
    }
    &:hover {
        &:after {
            width: 0;
        }
        &:before {
            width: 100%;
        }
    }
}



hr {
    height: 1px;
    margin: 20px 0;
}

::selection {
  background: lighten($color__primary, 40%); 
}
::-moz-selection {
  background: lighten($color__primary, 40%); 
}

.wrapper {
    max-width: 1368px;
    margin: 0 auto;
    background: #f6f6f6;
}

img {
    max-width: 100%;
}

button {
    color: #FFF;
    background: #acbbc0;    
}

main {
    margin: 30px 0 30px;
    @include susy-media('tablet') {
        margin: 60px 0 60px;
    }
}

.container {
    padding: 0 10px;
    @include container;
    @include clearfix;
    @include susy-media('tablet') {
        padding: 0 20px;
    }
    @include susy-media('desktop-wide') {
        padding: 0;
    }
}

.text-center {
    text-align: center;
}

.bkgd-blue, .bkgd-blue-dark {
    color: #FFF;
    a {
        color: #FFF;
    }
}

.bkgd-blue {
    background: $color__primary;
    h1, h2 {
        color: $color__trim;
    }
}

.bkgd-blue-dark {
    background: #142539;
}


.custom {
    @include clearfix;
}

%border-sides {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    &:before, &:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        height: 0;    
        top: 50%;    
    }
}

.border-sides-right {
    @extend %border-sides;
    padding: 0 10px 0 0;
    &:after {
        left: 100%;
        border-top: 1px solid $color__trim;
    }
}

.border-sides-left {
    @extend %border-sides;
    padding: 0 0 0 10px;
    &:after {
        right: 100%;
        border-top: 1px solid $color__trim;
    }
}

.pull-right {
    float: right;
}

.edit-icon {
    padding: 0;
    &:before {
        display: none;
    }
    a {
        &:before, &:after {
            display: none;
        }
    }
}

.site-branding {
    fill: #FFF;
    &:before, &:after {
        display: none;
    }
}

