@font-face {
  font-family: 'GothamMedium';
  src: url('../../fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),  url('../../fonts/GothamMedium.woff') format('woff'), url('../../fonts/GothamMedium.ttf')  format('truetype'), url('../../fonts/GothamMedium.svg#GothamMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamCondensed';
  src: url('../../fonts/GothamCondensed.eot?#iefix') format('embedded-opentype'),  url('../../fonts/GothamCondensed.woff') format('woff'), url('../../fonts/GothamCondensed.ttf')  format('truetype'), url('../../fonts/GothamCondensed.svg#GothamCondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CarroisGothic';
  src: url('../../fonts/CarroisGothic.eot?#iefix') format('embedded-opentype'),  url('../../fonts/CarroisGothic.woff') format('woff'), url('../../fonts/CarroisGothic.ttf')  format('truetype'), url('../../fonts/CarroisGothic.svg#CarroisGothic') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: normal;
}

h2, h3, h4 {
    margin: 16px 0;
}


h4 {
    margin: 10px 0;

}

h1, h2 {
    font-family: $font__condensed;
    @include susy-media('tablet') {
        margin: 16px 0;
    }
}


h1 {
    margin: 0 0 16px;
    color: $color__primary;
    font-size: 38px;
    line-height: 36px;
    @include susy-media('tablet') {
        margin: 0 0 20px;
        font-size: 46px;
        line-height: 44px;
    }    

}

h2 {
    font-size: 28px;
    line-height: 26px;
    @include susy-media('tablet') {
        font-size: 34px;
        line-height: 32px;
    }
}

h3 {
    font-size: 20px;
    line-height: 18px;
    @include susy-media('tablet') {
        font-size: 22px;
        line-height: 20px;
    }
}

h4 {
    font-size: 18px;
    line-height: 16px;
}